# --- IntelliJ IDEA ---
.idea/
*.iml
*.iws
*.ipr
out/

# --- VS Code ---
.vscode/
.history/
*.code-workspace


*.class

target/

*.jar
*.war
*.ear

# --- OS Metadata ---
.DS_Store
Thumbs.db

# --- Log files ---
*.log